.heading{
    font-size: 23px;
    width: 100%;
    margin: 0px;
    box-shadow: 5px 5px 5px blue;
}
.heading_div{
    float: none;
    background-color: crimson;
    padding: 10px;
    border-radius: 20px;
    color: black;
    box-shadow: 5px 5px 5px blue;
}
.heading_div2{
    font-size: 18px;
}
body{
    background-image: url("https://media.cntraveler.com/photos/56cb8369b19e7d9b785203a5/master/w_2048,h_1536,c_limit/Beautiful-Canada-Stanley-Park.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.result_para_tag
  {
    box-shadow:5px 5px 5px grey;
    font-size: 20px;
  }
  .copy_right_footer {
    position: fixed;
    color: white;
    bottom: 0;
    width: 100%;
    background-color:grey;
    line-height: 3;
    text-align: center;
 }
  canvas 
  {
    border:5px solid white;
    border-radius:20px;
    box-shadow:5px 5px 5px grey;
    margin-top: 150px; 
  }
